.div_teacher{
  width: 409px;
  height: 190px;
  padding: 1px 2px;
  float: left;
  background: #4a6692;
  background-image:
    radial-gradient(farthest-corner at 80% 100%,rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.05) 70%),
    radial-gradient(farthest-corner at 90% 100%,rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.25) 90%,rgba(255, 255, 255, 0.4)),
    radial-gradient(farthest-corner at 100% 90%,#20557b,#3196a0);
  margin: 0 18px 25px 18px;
  position: relative;
  border-radius: 5px;
  text-shadow: 1px 1px 1px #333;
  color: #fff;
}

.img_teacher{
    background-size: contain;
    width: 126px;
    height: 156px;
    float: left;
    margin: 10px -10px 0 0;
    border: 6px solid #fff;
    transform: rotate(-3deg);
    box-shadow: 0 0 10px 0px #aaa;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}
.div_teacher::after{
    content: "";
    border-width: 85px 70px;
    border-style: solid;
    border-color: #ccc;
    position: absolute;
    transform: rotate(3deg);
    left: 0px;
    top: 10px;
    border-radius: 5px;

  }
.div_teacher_text{
  float: left;
}
.div_teacher_nameblock{
  margin-top: 10px;
  height: 48px;
  font-weight: bold;
  border-bottom: solid 2px #5f5f5f;
  padding-right: 2px;
  overflow: hidden;
}
.div_teacher_name{
  position: relative;
  background-color: rgba(255,255,255,.9);
  font-size: 30px;
  font-weight: bold;
  padding:4px 12px 4px 24px ;
  float: left;
  color: #000;
  height: 40px;
}
.div_teacher_name::after{
  position: absolute;
  content: "";
  border-style: solid;
  border-color: transparent transparent transparent rgba(255,255,255,.9);
  border-width: 48px 0 0 12px;
  top: 0px;
  right: -12px;
}
.div_teacher_job{
  margin-top: 14px;
  height: 30px;
  font-size: 20px;
  float: left;
  border-bottom: 4px solid rgba(255,255,255,.9);
  padding:0 4px 0 20px;
  width: 120px;
}
.div_teacher_class{
  clear: both;
  position: relative;
  margin: 6px 4px 4px 20px;
  height: 96px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  padding-left: 110px;
}
.div_teacher_class::before{
  position: absolute;
  content: "任教科目";
  top: 0;
  left: 10px;
  font-size: 20px;
}
.div_teacher_email{
  clear: both;
  border-top: 2px solid #edf1f5;;
  padding:1px 0 0 24px;
  height: 16px;
  line-height: 20px;
  font-size: 14px;
  text-align: right;
  font-weight: normal;
  position: relative;
  text-shadow: none;
}
.div_teacher_email a{
  color: #fff;
  display: initial;
}
