/*網頁設定開始*/
/*字型統一設定*/
body{
  margin: 0px;
  font-family:Cambria,"微軟正黑體";
  /*background-image: url("../image/main/web_bg.png");*/
}

/*超連結統一設定*/
a{
  display: table;
  color: #000;
  text-decoration: none;
}
.a_block{
  display: block;
  text-align: center;
}

/*全部清單統一設定*/
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
table{
  margin: 0 auto;
}

/*網頁大小設定*/
#web{
  /*width: 1024px;*/

  z-index: -2;
  
}
::selection{background: #333;color: #fff;}
::-moz-selection{background: #333;color: #fff;}
/*網頁設定結束*/










/*網頁標題區塊開始*/
header{
  background-image:linear-gradient(to bottom,#ed9100,#d87d4f);
  
  height: 132px;
  color: #fff;
  /*border-bottom: solid 4px #d87d4f;*/
  padding-top: 8px;
  position: relative;
  z-index: 2;
  width: 1032px;
  margin: 0 auto;
}
#header_link{
  position: absolute;
  top: 0;
  right: 4px;
  background: #fff;
  /*background-image: linear-gradient(to bottom,#fff 70%,#eee 100%);*/
  border-radius: 0 0 6px 6px;
  padding: 0 4px;
}
.head_li{
  float: left;
  margin:2px 2px 3px 2px;
  padding: 0px 16px;
  border-right: 2px solid #666;
  font-size: 14px;
}
.head_li:nth-child(1){
  border-left: 2px solid #666;
}
#header_img{
  overflow: hidden;
  position: absolute;
  top: -60px;
  right: 0px;
  opacity: .2;
  z-index: -2;
  width: 300px;
  height: 190px;
}
#header_img img{
  width: 360px;
  height: 270px;
  transform: rotate(-10deg);
}
#header_text{
  height: 100px;
  font-weight: bold;
  padding-left: 12px;
}
#header_text span:nth-child(1){
  font-size: 60px;
  line-height: 70px;
}
#header_text span:nth-child(2){
  font-size: 20px;
  line-height: 20px;
  padding-left: 6px;
}









/*選單區塊開始*/
/*選單區塊*/

#menu{
  height: 40px;
  width: 1026px;
  text-align: center;
  margin: 0 auto;
}
/*.menu_li{border: 2px solid #fff;}*/
.menu_li{transition: .5s cubic-bezier(0, 1, 1, 1);}
.menu_li a{color: #fff;}
.main_menu_ul{
  display: flex;
  justify-content: space-around;
}

/*主選單選項*/
.main_menu_li{
  position: relative;
  float: left;
  width: 164px;
  margin: 0 3px 4px 3px;
  display: block;
  border-radius: 2px 2px 0 0;
  background: rgba(255,255,255, 0.3);
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.main_menu_li:hover{background: #fff;}
.main_menu_li:hover>a{color: #000;}
.main_menu_li>a{
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
}

/*主選單hover 次選單顯示*/
.main_menu_li:hover .sub_menu_ul{display: block;}

/*.main_menu_li:hover::after,.main_menu_li:hover::before{border-color: transparent #fff;}*/

/*次選單*/
.sub_menu_ul{
    position: absolute;
    left:12px;
    top: 32px;
    display: none;
    padding: 4px 0px 0px 0px;
    border-radius:0px 0px 3px 3px;
    width: 140px;
    /*background-image: 
    linear-gradient(to bottom,rgb(255, 255, 255),rgb(230, 230, 230));*/
}
.sub_menu_li:hover{background: #08acd1;}
/*.sub_menu_ul::before,.sub_menu_ul::after{
  position: absolute;
  content: '';
  border: 2px solid rgb(216, 113, 79);
  top: -4px;
}
.sub_menu_ul::before{left: 14px;}
.sub_menu_ul::after{right: 14px;}*/

/*次選單選項*/
.sub_menu_li{
  background: #dd823c;
  width: 132px;
  margin: 0 4px 4px 4px;
  text-align: center;
  
  transition: .5s;
  border-radius: 2px;
}
/*.sub_menu_li:hover{background: rgb(218, 116, 70);}*/
.sub_menu_li>a{
  font-size: 14px;
  line-height: 28px;
}
/*選單區塊結束*/
/*網頁標題區塊結束*/










/*網站導覽列開始*/
/*導覽列區塊*/
#director{
  height: 24px;
  position: relative;
  margin-bottom: 4px;
  padding-top: 8px;
}

/*導覽列單項*/
.director_li{
  float: left;
  padding: 0px 18px 0 0;
}

/*導覽列文字*/
.director_li span{
  border-bottom: solid #999 2px;
  font-size: 14px;
  position: relative;
  padding-left: 2px;
}
.director_li span::before,.director_li span::after{
  content: "";
  border-style: solid;
  position: absolute;
}
.director_li span::before{
  border-width: 20px 0 0 12px;
  border-color: transparent transparent transparent #999;
  right: -11px;
  bottom: -2px;
}
.director_li span::after{
  border-width: 22px 0 0 8px;
  border-color: transparent transparent transparent #eee;
  right: -7px;
  bottom: 0px;
}
/*網站導覽列結束*/










/*網頁主區塊開始*/
/*網頁主區塊*/
#main_block{
  width: 1004px;
  padding:  0 10px 10px 10px;
  margin: 0 auto;
  background: #eee;
  border-width: 0 4px;
  border-style: solid;
  border-color: rgba(255,255,255,.9);
}
/*網頁內容區塊開始*/
#content{
  width: 980px;
  padding: 10px;
  border: 2px dashed #aaa;
  border-radius: 4px;
  background: #fff;

}




/*內文樣式設定開始*/
/*大標題開始*/
p{
  text-align: justify;
  text-justify:inter-ideograph;
}
.p_title{
  font-size: 40px;
  margin: 12px 0 24px 0px;
  position: relative;
  padding-left: 12px;
  font-weight: bold;

}
.p_title::before,.p_title::after{
  content: "";
  position: absolute;

  border-style: solid;
  border-color: transparent;
  border-radius: 10px;

}
.p_title::before{
  border-left-color: #ff8222;
  left: -14px;
  top: 3px;
  border-width: 24px 0 24px 24px;
}
.p_title::after{
  border-left-color: #eee;
  left: -22px;
  border-width: 16px 0 16px 22px;
  top: 11px;
}
/*大標題結束*/

.span_title{
  margin-left: 4px;
  display: flex;
  align-items: center;
}


.p_1{
  font-size: 18px;
  margin:0 10px 1em 20px;
}

.p_2{
  font-size: 18px;
  margin:.5em 0;
  font-weight: normal;
}
/*內容區塊清單開始*/
.list_div{
  width: 800px;
  margin: 0 auto 36px auto;
}
/*清單選項*/
.list_li_1{
  margin: 8px 0 16px 0;
  font-size: 24px;
  position: relative;
  padding:0 24px 0 24px;
  font-weight: bold;
}
.list_li_1::before{
  content: "";
  border: 6px solid #ff8222;
  transform: rotate(45deg);
  position: absolute;
  left: 4px;
  top: 10px;
  border-radius: 2px;
}
.list_li_2{
  margin-top: 8px;
  font-size: 18px;
  position: relative;
  margin-left: 28px;
  font-weight: normal;
  /*list-style: cjk-ideographic;*/
}
.list_li_3{
  margin: 2px 0 ;
  font-size: 16px;
  position: relative;
  margin-left: 24px;
  font-weight: normal;
  /*list-style: decimal;*/
}
.list_li_4{
  height: 210px;

}
.list_li_5{
  padding-left: 20px;
}
.list_li_a{
  margin: 2px 0;
  font-size: 16px;
  padding-left: 16px;
  position: relative;
  font-weight: normal;
}
/*.list_li_a a{margin-bottom: 2px;}*/
.list_li_1 a,.list_li_a a{padding-bottom: 2px;}
.list_li_1 a:hover{border-bottom: solid #ff5722 2px;padding-bottom: 0;}
.list_li_a a:hover{border-bottom: solid #007ae2 2px;padding-bottom: 0;}
.list_li_a::before{
  content: "";
  position: absolute;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #007ae2;
  border-style: solid;
  left: 2px;
  top: 4px;
  border-radius: 4px;
}
table{
  border-spacing: 4px;
  text-align: center;
  margin:.5em auto 1em auto;
}

.table_1 tr:nth-child(1){font-size: 16px;}
.table_1 tr{font-size: 14px;}
.table_1 tr:nth-child(2n+1){background-color: #97d5ff;}
.table_1 tr:nth-child(2n){background-color: #bfedff;}
.table_1 td{padding: 2px 4px;}

.table_2 tr:nth-child(1){font-size: 14px;font-weight: bold;}
.table_2 tr{font-size: 14px;}
.table_2 tr:nth-child(2n){background-color: #d5e691;}
.table_2 tr:nth-child(2n+1){background-color: #b0d26f;}
.table_2 td{padding: 1px 2px;}

.table_3 tr:nth-child(2n){background-color: #e0a800;}
.table_3 tr:nth-child(2n+1){background-color: #ce8b00;}
.table_3 tr{font-size: 14px}
.table_3 td{padding: 2px;border-radius: 2px;}

.table_3 .td1{
  background: #372a5a;
  font-size: 20px;
  font-weight: bold;
  padding: 2px;
  color: #fff;
  position: relative;
}
.table_3 .td1::before{
  content: "";
  position: absolute;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent transparent rgba(255,255,255,.25);
  border-style: solid;
  top: 0px;
  left: 0px;
}
.table_3 .td1::after{
  content: "";
  position: absolute;
  border-width: 15px 15px 0 0 ;
  border-color: transparent rgba(255,255,255,.5) transparent transparent ;
  border-style: solid;
  bottom:  -0px;
  right: -366px;
}

.table_3 .td2{
  background: #775437;
  font-size: 20px;
  font-weight: bold;
  padding: 2px;
  color: #fff;
}


[class^="table_"] tr:nth-child(1){
  text-align: center;
  font-weight: bold;
  padding: 0 2px;
  background: #ddd;
}

mark{background-color: transparent;}
.mark_1{
  margin-left: 2px;
  font-size: 14px;
}
.mark_2{
  margin-left: 2px;
  font-size: 12px;
}
.mark_3{
  margin-left: 4px;
  font-size: 32px;
}
.po_re{
  position: relative;
}
/*內容區塊清單結束*/
/*內文樣式設定結束*/
/*網頁內容區塊結束*/
/*網頁主區塊結束*/










/*版權聲明區塊開始*/
footer{
  text-align: center;
  /*background: #ff9f6e;*/
  font-size: 10px;
  /*height: 40px;*/
  line-height: 20px;
  clear: both;
  width: 1024px;
  margin: 0 auto;
  padding-bottom: 10px;
}
/*版權聲明區塊結束*/
